body{
    background-color: #9EFF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ab-div{
    display: flex;
    background-color: #9EFF00;

    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

#ab-div2{
    display: flex;
    background-color: #9EFF00;
    justify-content: center;
    align-items: center;
}

p{
    margin: 5%;
}