.carousel-inner{
    width: auto;
    height: 50%;
    margin-top: 1%;
    display:flex;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}

.carousel-inner > .item > img{ margin:auto; width:100% }

#carouselExampleCaptions{
    background-color: #9EFF00;
}

#home-imgs{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #9EFF00;
}

.card{
    width: 20em;
    height: 30em;
    margin: 1%;
    background-color: #9300FF;
    border: 1px solid black;
}
