#v-pills-prints-tab:active{
    background-color: black;
}

#v-pills-shop-tab:active{
    background-color: black;
}

#v-pills-accessories-tab:active{
    background-color: black;
}

#v-pills-odds-tab:active{
    background-color: black;
}

#v-pills-jewelry-tab:active{
    background-color: black;
}

